<div class="container">

  <div class="row"  style="margin-top: 20px;">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
       <a target="_blank"><i class="fa fa-users fa-4x"></i></a>
      <div class="card-body">
        <a  target="_blank"><h5 class="card-title">Usuarios</h5></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <a  target="_blank"><i class="fa fa-user-cog fa-4x"></i></a>
      <div class="card-body">
        <h5 class="card-title">Perfiles</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
     <i class="fas fa-search fa-4x"></i>
      <div class="card-body">
        <h5 class="card-title">    Auditoría     </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
       <i class="fas fa-cloud-upload-alt fa-4x"></i>
        <div class="card-body">
          <h5 class="card-title">     Procesos      </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <i class="fas fa-money-check-alt fa-4x"></i>
        <div class="card-body">
          <h5 class="card-title">     Planes     </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

  </div>
</div>

